pkgbase = ter-music-cn
	pkgdesc = Terminal based music player
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/HuanSoft-Open-Source-Community/ter-music
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = make
	makedepends = gcc
	makedepends = git
	makedepends = pkg-config
	depends = ffmpeg
	depends = ncurses
	depends = libxml2
	depends = libpng
	depends = libjpeg-turbo
	depends = curl
	depends = sqlite
	depends = zlib
	optdepends = pulseaudio: PulseAudio audio output
	optdepends = alsa-lib: ALSA audio output
	optdepends = libpipewire: PipeWire audio output
	optdepends = dbus: MPRIS media session integration
	source = ter-music::git+https://github.com/HuanSoft-Open-Source-Community/ter-music.git#tag=v2.1.0
	sha256sums = SKIP

pkgname = ter-music-cn
